.root{
--light-blue: #3164ef;
--main-color: #1b4dd9;
--second-color: #1138a1;
}

body{
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

header{
    background: #3164ef;
    width: 100%;
    text-align: center;
}

.container{
 flex-direction: row;
}

.left-path{

}

.filter-container{
    flex-direction: row;
}

.right-path{
    
}